#block_nav nav {
	position: fixed;
	height: 100%;
	margin-top: 101.5px;
	background-color: white;
	z-index: 10;
	}

#block_nav nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	color: black;

}

#block_nav nav ul a {
	text-decoration: none;
	color: white;
	font-size: 1.1em;
}

#block_nav nav ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border:solid 0.1px;
	border-left: 0px;
	border-color: white;
	width: 250px;
	height: 60px;
	padding-left: 10px;
}
#block_nav #title_nav {
	font-size: 1.05em;
	background-color: rgb(245,244,244);
	display: flex;
	justify-content: center;
	font-weight: bold;
	padding-left: 0px;
	padding-right: 10px;

	
}

#block_nav nav ul a:nth-child(2) li {
	background-color: rgb(82,183,242);
	opacity: 0.7;
}

#block_nav nav ul a:nth-child(3) li{
	background-color: rgb(67,163,220);
	opacity: 0.7;
}

#block_nav nav ul a:nth-child(4) li{
	background-color: rgb(52,143,198);
	opacity: 0.7;
}

#block_nav nav ul a:nth-child(5) li{
	background-color: rgb(36,124,176);
	opacity: 0.7;
}

#block_nav nav ul a:nth-child(6) li{
	background-color: rgb(21,104,154);
	opacity: 0.7;
}

#block_nav nav ul a:nth-child(7) li{
	background-color: rgb(4,84,132);
	opacity: 0.7;
}


#block_nav nav ul li:nth-child(n):hover {
	opacity: 1;
}

#block_nav ul li img {
	width: 50px;
	height: 40px;
	line-height: 40px;
	padding-right: 5px;
}
#block_nav .contactUs{
	display: flex;
	flex-direction: column;
	background-color: rgb(245,244,244);
	height: 270px;
}

#block_nav .socialNetwork {
	display:flex;
	justify-content: space-around;
	padding-bottom: 50px;
}

#block_nav .socialNetwork img{
	height: 40px;
	width: auto;
	margin: 10px;
}



#block_nav .contactUs p{
	display: flex;
	justify-content: flex-start;
}