#cart_page {
	position: absolute;
	margin-left: 300px; 
	margin-top: 110px;
	z-index: 1;
	display: block;
	margin-right: 50px;
	margin-bottom: 50px;
	text-align: center;
}

body {
	text-align: center;
}

table, input {
	color:white;
	/*Couleur du texte*/
}

#cart_page tbody td img{
	max-height: 100px; max-width: 125px;
}

#cart_page table tbody tr td [name="picture"] {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	max-height: 200px;
	max-width: 300px;
	position: absolute;
}

#cart_page table tbody td [name="product"] {
	font-size:30px;
}

#cart_page table tbody td [name="price"], #cart_page table tbody td [name="price"]{
	margin-left: 10px;
	margin-right: 10px;
}

#cart_page table {
	position: relative;
	text-align: center;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px 2px;
}

#cart_page table [name ="product"] {
	width:75%;
}

#cart_page table [name="product"] .theader{
	font-size: 25px;
}

#cart_page .quantity{
	border-style:solid;
	border-color:white;
	border-radius: 15px 15px 15px 15px;
	background-color: white;
	text-align: center;
	min-width: 50px;
	max-width: 200px;
	width:auto;
	margin-right: 25px;
	margin-left: 25px
	height 50px;
}

#cart_page .price {
	margin-right: 25px;
	margin-left: 25px;
	min-width: 75px;
	max-width: 150px;
}

#cart_page .product{
	margin-left: 25px;
	margin-right: 25px;
}

#cart_page .bouton {
	border-radius: 10px 10px 10px 10px; 
	border-style: solid;
	border-color: white;
	background-color: rgb(67,163,220);
	min-height: 50px; min-width: 150px; 
	font-size:18px; 
	margin-top: 30px; 
	margin-bottom: 50px; 
	margin-left: 50px; 
	margin-right:50px;
}
