#cart_page {
	position: absolute;
	margin-left: 300px; 
	margin-top: 110px;
	z-index: 1;
	display: block;
	padding-right: 50px;
	padding-bottom: 50px;
	text-align: center;
}

#cart_page table, #cart_page input {
	color:white;
	/*Couleur du texte*/
}

#cart_page tbody td img{
	max-height: 100px; max-width: 125px;
}

#cart_page table tbody td a {
	text-decoration: none;
}

#cart_page tbody tr:nth-child(even) {background-color: rgb(82,183,242);}
#cart_page tbody tr:nth-child(odd) {background-color:  rgb(52,143,198);}
/*Permet de faire une alternance de couleur sur les lignes de la commande*/
#cart_page table tbody tr td a .picture {
	/*style des photos des articles mis dans le panier*/
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	max-height: 200px;
	max-width: 300px;
	position: absolute;
}

#cart_page table #theader {
	background-color:rgb(67,163,220);
}
#cart_page table #theader #product {
	border-radius: 5px 0px 0px 0px;
}
#cart_page table #theader #quantity {
	border-radius: 0px 5px 0px 0px;
}

#cart_page table tfoot td {
	background-color:rgb(67,163,220); 
	border-radius: 0px 0px 5px 5px; 
	max-height: 30px;
}

#cart_page table tbody td a .product {
	font-size:15px;
	color: white;
	text-decoration: none;
}

#cart_page table tbody td .price, #cart_page table tbody td .quantity{
	margin-left: 10px;
	margin-right: 10px;
}

#cart_page table {
	position: relative;
	text-align: center;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px 2px;
}

#cart_page table [name ="product"] {
	width:75%;
}

#cart_page table [name="product"] .theader{
	font-size: 25px;
}

#cart_page .quantity{
	border-style:solid;
	border-color:white;
	border-radius: 15px 15px 15px 15px;
	background-color: white;
	text-align: center;
	min-width: 50px;
	max-width: 200px;
	width:auto;
	margin-right: 25px;
	margin-left: 25px
	height 50px;
	color: black;
}

#cart_page .price {
	margin-right: 25px;
	margin-left: 25px;
	min-width: 75px;
	max-width: 150px;
}

#cart_page .product{
	margin-left: 25px;
	margin-right: 25px;
}

#cart_page .bouton {
	border-radius: 10px 10px 10px 10px; 
	border-style: solid;
	border-color: white;
	background-color: rgb(67,163,220);
	min-height: 50px; min-width: 150px; 
	font-size:18px; 
	margin-top: 30px; 
	margin-bottom: 50px; 
	margin-left: 20px; 
	margin-right:20px;
}

