#confirm_cart{
	position: absolute;
	margin-left: 300px; 
	margin-top: 102px;
	z-index: 1;
	padding-top: 25px;	
	display: block;
	margin-right: 50px;
	margin-bottom: 50px;
}

#confirm_cart a:link{
	text-decoration:none;
}

#confirm_cart .recap_commande{
	color: white;
	position:absolute;
	display: block;
	width: 100%;
	height: auto;
	background-color: rgba(67,163,220);
	border-radius: 10px;
}

#confirm_cart .recap_commande table {
	position: relative;
	text-align: center;
	width:100%;
	border-collapse: separate;
	border-spacing: 0px 2px;
	background-color: none;
}