.btn-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    width:100px;
    height: 2em;
}

.cancel{
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
    width:100px;
    height: 2em;  
}

body{
    background-color: rgb(82,183,242);
 }

 .col hr.ligne
 {
  color: black;
  width: 50%;
 }

.input input.input-text
{
 height:2.5em;
 width: 35%;
 border-radius: 10px; 
 border-style: solid;
 border-color: #4C1B1B;
}

 input.nom-prenom
{
 height:2.5em;
 width: 18em;
 border-radius: 10px;
 border-style: solid;
 border-color: #4C1B1B;
}

 input.ville_postal
{
 height:2.5em;
 width: 18em;
 border-radius: 10px;
 border-style: solid;
 border-color: #4C1B1B;
}