#block_main {
	position: absolute;
	margin-left: 280px; 
	margin-top: 130px;
	z-index: 1;
}

#block_main .texte {
	position: relative;
}
#block_main .texte img {
	border-radius: 20px;
	height: 550px;
	box-shadow: 10px 10px 10px grey;
	width: auto;
}


#block_main .texte h1{
	position: absolute;
	bottom: 150px;
	left: 50px;
	font-size: 3em;
	color: white;
	text-shadow: black 5px 0px 15px;
}

#block_main .texte p{
	position: absolute;
	left: 50px;
	bottom: 130px;
	font-size: 1.5em;
	color: white;
	text-shadow: black 5px 0px 15px;
}

#block_main .credit {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 20px;
}

#block_main .credit p{
	padding: 0px;
	margin: 0px;
}


#block_main .prop {
	display: flex;
	justify-content: space-around;
	border-top-style: solid;
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 20px; 
}

#block_main .prop a {
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#block_main .prop a:hover {
	background-color: rgb(219,219,219);
	border-radius: 10px;
}

#block_main .img_prop {
	height: 150px;
	width: 160px;
	padding: 5px;
}

#block_main p {
	font-size: 1.2em;
	margin-left: 10px;
}