#ordersDisplay{
	position: absolute;
	margin-left: 300px; 
	margin-top: 110px;
	z-index: 1;	
	padding-right: 50px;
	padding-bottom: 30px;
	display:block;
	text-align: center;
	width:75%;
	vertical-align: center;
}

#ordersDisplay a:link{
	text-decoration:none;
}

#ordersDisplay .recap_commande{
	position: relative;
}

#ordersDisplay h1 {
	text-align: center;
}

#ordersDisplay .recap_commande table thead {
	background-color: rgba(67,163,220);
}
#ordersDisplay .recap_commande table thead #Numero_commande {
	border-radius: 10px 0px 0px 0px;
}
#ordersDisplay .recap_commande table thead #total {
	border-radius: 0px 10px 0px 0px;
}
#ordersDisplay .recap_commande table tbody{
	background-color: rgba(82,183,242);
}
#ordersDisplay .recap_commande table {
	position: relative;
	color:white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
	border-spacing: 0px 0px;
	border-radius: 10px;
}

#ordersDisplay .recap_commande table td {
	padding-left: 30px;
	padding-right: 30px;
	padding-top:5px;
	padding-bottom: 5px;
}

#ordersDisplay .recap_commande table tfoot td {
	text-align: right; 
	background-color: rgba(67,163,220); 
	border-radius: 0px 0px 10px 10px;
}
#ordersDisplay .recap_commande table tfoot td div{
	color:white;
}

#ordersDisplay [name="ViewDetails"] {
	border-radius: 7px 7px 7px 7px;
	border-style : solid;
	border-color: rgba(67,163,220);
	background-color: rgba(82,183,242);
	color: white;
	min-width: 50px;
}